// *************************************
//
// Page
//
// *************************************


html {
  font-family: $font-base;
  color: $color-black;
}

::selection {
  background-color: $color-theme;
}
