---
layout: default
title: Galerie Lahumiere
---
<div class="o-wrapper">
  {% include header.html %}
  <div class="o-layout">
    <div class="o-layout__item u-9/11@tablet u-push-2/11@tablet">
      <div class="o-layout">
        <article class="o-layout__item c-cover c-cover--main c-cover--even u-animation u-animation--fadeInUp">
          <a href="#" class="c-cover__link">
            <figure class="o-ratio o-ratio--3:2 c-cover__media">
              <img src="images/exprimer_1er_2-2-590x394.jpg" alt="" class="o-ratio__content c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header class="c-cover__header">
                <h2 class="c-cover__title">Exprimer, vibrer, construire</h2>
              </header>
              <div class="c-cover__desc">
                <p>Olle Baertling, Marcelle Cahn, Félix del Marle, Jean Dewasne, Georges Folmer, Günter Fruhtrunk, Emile Gilioli, Jean Gorin, Robert Jacobsen, Jean Leppien, Alberto Magnelli, Edgard PIllet, Victor Vasarely</p>
              </div>
              <div class="c-cover__meta">
                <p class="u-margin-bottom-none">Exposition en cours</p>
                <p class="u-margin-bottom-none">Jusqu'au 10 janvier 2017</p>
              </div>
              <div class="c-cover__more">
                <svg aria-hidden="true" class="o-icon o-icon-arrow-right"><use xlink:href="images/icon-sprite.svg#arrowRight"></use></svg>
              </div>
            </div>
          </a>
        </article
        ><article class="o-layout__item c-cover c-cover--main c-cover--odd u-animation u-animation--fadeInUp">
          <a href="#" class="c-cover__link">
            <figure class="o-ratio o-ratio--3:2 c-cover__media">
              <img src="images/perrot_dessin_06_16-590x394.jpg" alt="" class="o-ratio__content c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header class="c-cover__header">
                <h2 class="c-cover__title">Jean-Gabriel Coignet &amp; Antoine Perrot</h2>
                <p class="c-cover__subtitle">Nécessaire réalité</p>
              </header>
              <div class="c-cover__desc">
                <p>Antoine Perrot et Jean-Gabriel Coignet se connaissent et s’apprécient mutuellement. Cette exposition à 4 mains met en avant le travail du peintre, Antoine Perrot, qui sans relâche pose la question : comment peindre aujourd’hui ? Elle met également en exergue le travail du sculpteur, Jean-Gabriel Coignet qui en maitrisant la technique va vers une forme d’épure de la sculpture. Chacun à sa manière aborde une recherche ancrée de façon concrète dans le quotidien et la réalité.</p>
              </div>
              <div class="c-cover__meta">
                <p class="u-margin-bottom-none">Prochaine exposition</p>
                <p class="u-margin-bottom-none">13 janvier - 4 mars 2017</p>
              </div>
              <p class="c-cover__more u-margin-bottom-none"><svg aria-hidden="true" class="o-icon o-icon-arrow-right"><use xlink:href="images/icon-sprite.svg#arrowRight"></use></svg></p>
            </div>
          </a>
        </article
        ><article class="o-layout__item u-1/2@tablet u-3/9@desktop c-cover u-animation u-animation--fadeInUp">
          <a href="#" class="c-cover__link">
            <figure class="o-ratio o-ratio--3:2 c-cover__media">
              <img src="images/albers_2-590x394.jpg" alt="" class="o-ratio__content c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header class="c-cover__header">
                <h2 class="c-cover__title">Formes et couleurs</h2>
                <p class="c-cover__subtitle">Musée de l’Impression sur Etoffes, Mulhouse</p>
              </header>
              <div class="c-cover__desc">
                <p>A ne rater sous aucun prétexte cette exposition à laquelle participent entre autre : J.F. Dubreuil, A. Perrot ou H. Prosi, et découvrir un Musée discret et charmant, celui de l’Impression sur Etoffes</p>
              </div>
              <p class="c-cover__more u-margin-bottom-none"><svg aria-hidden="true" class="o-icon o-icon-arrow-right"><use xlink:href="images/icon-sprite.svg#arrowRight"></use></svg></p>
            </div>
          </a>
        </article
        ><article class="o-layout__item c-cover u-1/2@tablet u-3/9@desktop u-animation u-animation--fadeInUp">
          <a href="#" class="c-cover__link">
            <figure class="o-ratio o-ratio--3:2 c-cover__media">
              <img src="images/honegger_79pf-2-590x394.jpg" alt="" class="o-ratio__content c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header class="c-cover__header">
                <h2 class="c-cover__title">Rythme &amp; géométrie</h2>
                <p class="c-cover__subtitle">Musée du Couvent des Cordeliers</p>
              </header>
              <div class="c-cover__desc">
                <p>Incontournable cet été, l’exposition ‘Rythme &amp; géométrie’ au musée du Couvent des Cordeliers, avec un grand nombre de nos artistes contemporains. </p>
              </div>
              <p class="c-cover__more u-margin-bottom-none"><svg aria-hidden="true" class="o-icon o-icon-arrow-right"><use xlink:href="images/icon-sprite.svg#arrowRight"></use></svg></p>
            </div>
          </a>
        </article
        ><article class="o-layout__item c-cover u-1/2@tablet u-3/9@desktop u-animation u-animation--fadeInUp">
          <a href="#" class="c-cover__link">
            <figure class="o-ratio o-ratio--3:2 c-cover__media">
              <img src="images/th-590x394.jpg" alt="" class="o-ratio__content c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header class="c-cover__header">
                <h2 class="c-cover__title">Arithmeum Bonn - Donation des artistes de la galerie</h2>
              </header>
              <div class="c-cover__desc">
                <p>Un grand nombre d’artistes de la galerie ont accepté de faire un don dans un musée allemand qui a été accepté avec beaucoup d’enthousiasme. Venez les découvrir au Musée Arithmeum à Bonn.</p>
              </div>
              <p class="c-cover__more u-margin-bottom-none"><svg aria-hidden="true" class="o-icon o-icon-arrow-right"><use xlink:href="images/icon-sprite.svg#arrowRight"></use></svg></p>
            </div>
          </a>
        </article>
      </div>
      {% include footer.html %}
    </div>
  </div>
</div>
