---
layout: default
title: Galerie Lahumiere
---
<div class="o-wrapper">
  {% include header.html %}
  <div class="o-layout">
    <div class="o-layout__item u-9/11@tablet u-push-2/11@tablet">
      <div class="o-layout">
        <article class="o-layout__item c-cover c-cover--large c-cover--even">
          <a href="#" class="c-cover__link">
            <figure class="c-cover__media">
              <img src="images/exprimer_1er_2-2.jpg" alt="" class="c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header>
                <p class="c-cover__exhib-status">Exposition en cours</p>
                <h1 class="u-h3 c-cover__title">Exprimer, vibrer, construire</h1>
              </header>
              <div class="c-cover__desc">
                <p>Olle Baertling, Marcelle Cahn, Félix del Marle, Jean Dewasne, Georges Folmer, Günter Fruhtrunk, Emile Gilioli, Jean Gorin, Robert Jacobsen, Jean Leppien, Alberto Magnelli, Edgard PIllet, Victor Vasarely</p>
                <p>Olle Baertling, Marcelle Cahn, Félix del Marle, Jean Dewasne, Georges Folmer, Günter Fruhtrunk, Emile Gilioli, Jean Gorin, Robert Jacobsen, Jean Leppien, Alberto Magnelli, Edgard PIllet, Victor Vasarely</p>
              </div>
              <p class="c-cover__exib-date">date expo</p>
            </div>
          </a>
        </article>
        <article class="o-layout__item c-cover c-cover--large c-cover--even">
          <a href="#" class="c-cover__link">
            <figure class="c-cover__media">
              <img src="images/exprimer_1er_2-2.jpg" alt="" class="c-cover__img">
            </figure
            ><div class="c-cover__body">
              <header>
                <p class="c-cover__exhib-status">Exposition en cours</p>
                <h1 class="u-h3 c-cover__title">Exprimer, vibrer, construire</h1>
              </header>
              <div class="c-cover__desc">
                <p>Olle Baertling, Marcelle Cahn, Félix del Marle, Jean Dewasne, Georges Folmer, Günter Fruhtrunk, Emile Gilioli, Jean Gorin, Robert Jacobsen, Jean Leppien, Alberto Magnelli, Edgard PIllet, Victor Vasarely</p>
              </div>
              <p class="c-cover__exib-date">date expo</p>
            </div>
          </a>
        </article>
      </div>
      {% include footer.html %}
    </div>
  </div>
</div>
