<section class="c-page__foot c-footer">
  <div class="o-layout">
    <article class="o-layout__item u-3/9@tablet">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">La galerie</h1>
      </header>
      <p>Anne et Jean-Claude Lahumière fondent leur galerie en 1963. En 1995, ils se sont installés au cœur du Marais dans un immeuble du XVIIIe siècle à deux pas du Musée Picasso. Très tôt, ils adhèrent au Comité des Galeries d’Art, dont Anne Lahumière était la présidente de 1993 à 2004.</p>
    </article
    ><article class="o-layout__item u-3/9@tablet">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">Infos pratiques</h1>
      </header>
      <p>17, rue du Parc Royal - 75003 Paris</p>
      <p>Ouvert du mardi au vendredi, 10h à 13h et 14h à 18h30. Samedi, de 11h à 13h et 14h à 18h. Fermé le lundi.</p>
    </article
    ><article class="o-layout__item u-3/9@tablet">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">Contact</h1>
      </header>
      <ul class="o-list-inline c-contact">
        <li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg class="o-icon o-icon-facebook" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><title>facebook</title><path d="M24 46c12.2 0 22-9.8 22-22S36.2 2 24 2 2 11.8 2 24s9.8 22 22 22zm1-8V25.2h4.2l.6-5H25v-3c0-1.6.5-2.6 2.5-2.6H30v-4.4l-3.7-.2c-3.7 0-6.2 2.3-6.2 6.6v3.7h-4v5h4V38h5z" fill-rule="evenodd"/></svg></a>
        </li
        ><li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg class="o-icon o-icon-mail" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><title>mail</title><path d="M24 46c12.2 0 22-9.8 22-22S36.2 2 24 2 2 11.8 2 24s9.8 22 22 22zM12 16c0-1 1-2 2-2h20c1 0 2 1 2 2v16c0 1-1 2-2 2H14c-1 0-2-1-2-2V16zm2.7-.6l-1.4 1.4L24 27.4l10.7-10.7-1.4-1.4-9.3 9.3-9.3-9.2z" fill-rule="evenodd"/></svg></a>
        </li
        ><li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg class="o-icon o-icon-phone" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><title>phone</title><path d="M24 46c12.2 0 22-9.8 22-22S36.2 2 24 2 2 11.8 2 24s9.8 22 22 22zm-7-36l-7 .5c0 7.4 1 13.7 7.6 20.3 6.6 6.6 12.5 7.3 20 7.2l.4-7-7-1c-2 1.8-3.8 3.7-3.8 3.7s-3.7-1.5-7.4-5.2c-3.6-3.6-5.5-7.7-5.5-7.7L18 17l-1-7z" fill-rule="evenodd"/></svg></a>
        </li>
      </ul>
    </article>
  </div>
</section>
<footer class="c-page__legal c-legal">
  <p class="c-legal__item c-legal__item--copyright u-upper">© Galerie Lahumiere. Tous droits réservés.</p>
  <p class="c-legal__item c-legal__item--credits u-upper"><a href="#" class="c-legal__link">Mentions légales</a> <a href="#" class="c-legal__link">Crédits</a></p>
</footer>
