<section class="c-footer">
  <div class="o-layout">
    <article class="o-layout__item u-3/9@desktop c-footer__item">
      <a href="#" class="c-abstract c-abstract--footer">
        <header class="c-footer__header">
          <h2 class="c-footer__title c-abstract__title">La galerie</h2>
        </header>
        <div class="c-footer__desc c-footer__desc--about c-abstract__more">
          <p>Anne et Jean-Claude Lahumière fondent leur galerie en 1963. En 1995, ils se sont installés au cœur du Marais dans un immeuble du XVIIIe siècle à deux pas du Musée Picasso. Très tôt, ils adhèrent au Comité des Galeries d’Art, dont Anne Lahumière était la présidente de 1993 à 2004.</p>
          <svg class="o-icon o-icon--m"><use xlink:href="{{ site.github.url }}/images/icon-sprite.svg#arrowRightLarge"></use></svg>
        </div>
      </a>
    </article
    ><article class="o-layout__item u-5/10@mobileLs u-3/9@desktop c-footer__item">
      <header class="c-footer__header">
        <h2 class="c-footer__title">Infos pratiques</h2>
      </header>
      <div class="c-footer__desc">
        <p>17, rue du Parc Royal - 75003 Paris</p>
        <p>Ouvert du mardi au vendredi, 10h à 13h et 14h à 18h30. Samedi, de 11h à 13h et 14h à 18h. Fermé le lundi.</p>
      </div>
    </article
    ><article class="o-layout__item u-5/10@mobileLs u-3/9@desktop c-footer__item">
      <header class="c-footer__header">
        <h2 class="c-footer__title">Contact</h2>
      </header>
      <ul class="c-contact">
        <li class="c-contact__item">
          <a href="#" class="c-contact__open" aria-label="Page Facebook"><svg class="o-icon o-icon--l"><use xlink:href="{{ site.github.url }}/images/icon-sprite.svg#facebook"></use></svg></a>
        </li
        ><li class="c-contact__item">
          <a href="#" class="c-contact__open" aria-label="Envoyer un mail"><svg class="o-icon o-icon--l"><use xlink:href="{{ site.github.url }}/images/icon-sprite.svg#mail"></use></svg></a>
        </li
        ><li class="c-contact__item">
          <a href="#" class="c-contact__open" aria-label="Contacter par téléphone"><svg class="o-icon o-icon--l"><use xlink:href="{{ site.github.url }}/images/icon-sprite.svg#phone"></use></svg></a>
        </li>
      </ul>
    </article>
  </div>
</section>
