<section class="c-footer">
  <div class="o-layout">
    <article class="o-layout__item u-3/9@desktop">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">La galerie</h1>
      </header>
      <div class="c-footer__desc">
        <p>Anne et Jean-Claude Lahumière fondent leur galerie en 1963. En 1995, ils se sont installés au cœur du Marais dans un immeuble du XVIIIe siècle à deux pas du Musée Picasso. Très tôt, ils adhèrent au Comité des Galeries d’Art, dont Anne Lahumière était la présidente de 1993 à 2004. <a href="#" class="c-more c-more--inline"><svg aria-hidden="true" class="o-icon o-icon-arrow-right c-more__icon"><use xlink:href="/images/icon-sprite.svg#arrowRight"></use></svg></a></p>
      </div>
    </article
    ><article class="o-layout__item u-1/2@tablet u-3/9@desktop">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">Infos pratiques</h1>
      </header>
      <div class="c-footer__desc">
        <p>17, rue du Parc Royal - 75003 Paris</p>
        <p>Ouvert du mardi au vendredi, 10h à 13h et 14h à 18h30. Samedi, de 11h à 13h et 14h à 18h. Fermé le lundi.</p>
      </div>
    </article
    ><article class="o-layout__item u-1/2@tablet u-3/9@desktop">
      <header>
        <h1 class="c-footer__title u-h4 u-upper">Contact</h1>
      </header>
      <ul class="o-list-inline c-contact">
        <li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg aria-hidden="true" class="o-icon o-icon-facebook"><use xlink:href="/images/icon-sprite.svg#facebook"></use></svg></a>
        </li
        ><li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg aria-hidden="true" class="o-icon o-icon-mail"><use xlink:href="/images/icon-sprite.svg#mail"></use></svg></a>
        </li
        ><li class="o-list-inline__item">
          <a href="#" class="c-contact__link"><svg aria-hidden="true" class="o-icon o-icon-phone"><use xlink:href="/images/icon-sprite.svg#phone"></use></svg></a>
        </li>
      </ul>
    </article>
  </div>
</section>
<footer class="c-legal">
  <p class="c-legal__item c-legal__item--copyright u-upper">© Galerie Lahumiere. Tous droits réservés.</p>
  <p class="c-legal__item c-legal__item--credits u-upper"><a href="#" class="c-legal__link">Mentions légales</a> <a href="#" class="c-legal__link">Crédits</a></p>
</footer>
