<header class="c-page__head">
  <nav class="o-layout c-site-nav">
    <div class="o-layout__item u-2/11@tablet">
      <a href="#" class="c-site-nav__home c-site-nav__home--logo"><svg class="c-site-nav__logo" viewBox="0 0 100 98" xmlns="http://www.w3.org/2000/svg"><title>Galerie Lahumiere</title><g fill-rule="evenodd"><path d="M0 0v98h100V83.5H14.5V0"/><path d="M26.5 30.2v14.6h59v15.7h-59V75H100V30.2M26.5 0H100v14.5H26.5z"/></g></svg></a>
    </div><div class="o-layout__item u-9/11@tablet">
      <a href="#" class="c-site-nav__home"><span class="c-site-nav__title">Galerie Lahumiere</span></a>
      <ul class="c-site-nav__list">
        <li class="c-site-nav__item"><a href="#" class="c-site-nav__link c-site-nav__link--galerie">La Galerie</a></li>
        <li class="c-site-nav__item"><a href="#" class="c-site-nav__link">Les artistes</a></li>
        <li class="c-site-nav__item"><a href="#" class="c-site-nav__link">Expositions</a></li>
        <li class="c-site-nav__item"><a href="#" class="c-site-nav__link">Publications</a></li>
      </ul>
    </div>
  </nav>
  <div class="c-">

  </div>
  <nav class="c-nav-utils">
    <ul class="o-list-inline c-nav-utils__list">
      <li class="o-list-inline__item c-nav-utils__item">
        <a href="#" class="c-nav-utils__link c-nav-utils__link--search"><svg class="o-icon o-icon-search" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><title>icon-search</title><path d="M30.5 33c-2.7 1.8-6 3-9.5 3-8.8 0-16-7.2-16-16S12.2 4 21 4s16 7.2 16 16c0 3.5-1.2 6.8-3 9.5L44.3 40 41 43.4 30.5 33zm-9.5-.2c7 0 12.8-5.7 12.8-12.8C33.8 13 28 7.2 21 7.2 14 7.2 8.2 13 8.2 20c0 7 5.7 12.8 12.8 12.8z" fill-rule="evenodd"/></svg></a>
      </li><li class="o-list-inline__item c-nav-utils__item">
        <span href="#" class="c-nav-utils__link c-nav-utils__link--lang is-active">FR</span><a href="#" class="c-nav-utils__link c-nav-utils__link--lang c-nav-utils__link--delimited">EN</a>
      </li>
    </ul>
  </nav>
</header>
