<header class="c-header">
  <nav class="o-layout o-layout--bottom c-nav c-nav-site">
    <div class="o-layout__item u-1/10@tablet">
      <a href="{{ site.github.url }}/" class="c-nav-site__home c-nav-site__home--logo"><svg class="c-nav-site__logo" viewBox="0 0 103 120" xmlns="http://www.w3.org/2000/svg"><title>Galerie Lahumiere</title><g fill-rule="evenodd"><path d="M12 109.2V0H0v120h103v-10.8H12z"/><path d="M97.6 44.3h5.4v57.3H27V90.8h65.2V55h-65V44.4h70.4zM27 0h76v10.8H27z"/></g></svg></a>
    </div><div class="o-layout__item u-9/10@tablet">
      <a href="{{ site.github.url }}/" class="c-nav-site__home c-nav-site__home--title">Galerie Lahumiere</a>
      <ul class="c-nav__list c-nav-site__list">
        <li class="c-nav__list-item c-nav-site__item"><a href="{{ site.github.url }}/galerie/" class="c-nav-site__link c-nav-site__galerie">La Galerie</a></li>
        <li class="c-nav__list-item c-nav-site__item"><a href="{{ site.github.url }}/artistes/" class="c-nav-site__link c-nav-site__artistes">Les artistes</a></li>
        <li class="c-nav__list-item c-nav-site__item"><a href="{{ site.github.url }}/expositions/" class="c-nav-site__link c-nav-site__expositions">Expositions</a></li>
        <li class="c-nav__list-item c-nav-site__item"><a href="#" class="c-nav-site__link c-nav-site__publications">Publications</a></li>
      </ul>
    </div>
  </nav>
  <nav class="c-nav c-nav-utils">
    <ul class="c-nav__list c-nav-utils__list">
      <li class="c-nav__list-item c-nav-utils__item">
        <a href="#" class="c-search__open" aria-label="Chercher"><svg class="o-icon c-search__icon"><use xlink:href="{{ site.github.url }}/images/icon-sprite.svg#search"></use></svg></a>
      </li
      ><li class="c-nav__list-item c-nav-utils__item c-nav-lang">
        <span href="#" class="c-nav-lang__item is-current">FR</span><a href="#" class="c-nav-lang__item c-nav-lang__item--separator">EN</a>
      </li>
    </ul>
  </nav>
</header>
