<header class="c-page__head">
  <div class="o-layout">
    <div class="o-layout__item u-9/11 u-push-2/11">
      <nav class="c-site-nav">
        <a href="#" class="c-site-nav__home">
          <span class="c-site-nav__logo"><svg class="c-site-nav__logo-img" viewBox="0 0 100 98" xmlns="http://www.w3.org/2000/svg"><title>Galerie Lahumiere</title><g fill-rule="evenodd"><path d="M0 0v98h100V83.5H14.5V0"/><path d="M26.5 30.2v14.6h59v15.7h-59V75H100V30.2M26.5 0H100v14.5H26.5z"/></g></svg></span>
          <span class="c-site-nav__title">Galerie Lahumiere</span>
        </a>
        <ul class="c-site-nav__list">
          <li class="c-site-nav__item"><a href="#">La Galerie</a></li>
          <li class="c-site-nav__item"><a href="#">Les artistes</a></li>
          <li class="c-site-nav__item"><a href="#">Expositions</a></li>
          <li class="c-site-nav__item"><a href="#">Publications</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
