<nav class="c-pagination c-pagination--prevnext c-pagination--header" role="navigation">
  <ul class="c-pagination__list">
    <li class="c-pagination__item c-pagination__item--prev">
      <a href="#" aria-label="Année précédente" class="c-pagination__link"><span class="c-pagination__icon"><span class="o-icon o-icon-arrow o-icon-arrow--left"></span></span><span class="c-pagination__text">2016</span></a></li
    ><li class="c-pagination__item c-pagination__item--next">
      <span href="#" aria-label="Année suivante" class="c-pagination__link is-disabled"><span class="c-pagination__text is-disabled">2018</span><span class="c-pagination__icon"><span class="o-icon o-icon-arrow o-icon-arrow--right is-disabled"></span></span></span></li>
  </ul>
</nav>
