<nav class="c-nav c-nav-secondary" role="navigation">
  <ul class="c-nav__list">
    <li class="c-nav__list-item c-nav-secondary__item">
      <a href="#" class="c-nav-secondary__link c-nav-secondary__galerie-about">La Galerie</a>
    </li><li class="c-nav__list-item c-nav-secondary__item">
      <a href="#" class="c-nav-secondary__link c-nav-secondary__plaisirs">Les plaisirs d'Anne Lahumiere</a>
    </li><li class="c-nav__list-item c-nav-secondary__item">
      <a href="#" class="c-nav-secondary__link c-nav-secondary__liens">Liens</a>
    </li>
  </ul>
</nav>
