// =====================================
// print
// =====================================


@media print {
  @page {
    margin: 0.5cm;
  }
  /**
   * 1. Black prints faster: http://www.sanbeiji.com/archives/953
   */

  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* [1] */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  //
  // principes généraux
  // -------------------------------------

  html {
    font: 12pt/1.4  $font-base;
  }

  body {
    padding: 0;
    margin: 0 10%;
  }

  tr,
  img {
    page-break-inside: avoid;
  }


  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  //
  // Container
  // -------------------------------------

  .o-wrapper {
    max-width: inherit;
  }

  //
  // Header
  // -------------------------------------

  .c-nav-site {
    text-align: center;
    .o-layout__item {
      width: 100% !important;
    }
  }

  .c-nav-site__home--logo {
    margin-bottom: $spacing-unit;
  }

  //
  // Elements à masquer
  // -------------------------------------

  .c-nav-utils,
  .c-nav-site__list,
  .c-nav-secondary,
  .c-footer {
    display: none;
  }
}
