---
layout: default
site-title: "Galerie Lahumiere"
title: "Les plaisirs d'Anne Lahumiere"
page-class: page--galerie page--galerie-plaisirs
category: galerie
---

{% include nav-secondary-galerie.html %}

<article class="c-article">
  <header class="c-article__section c-article__header">
    <h1 class="c-article__title c-article__title--upper">{{page.title}}</h1>
  </header>

  <section class="c-article__section c-article__text c-text">
    <div class="o-layout">
      <div class="o-layout__item u-9/10@mobileLs xu-push-1/10@mobileLs u-7/10@desktop">
        <div class="c-text__chapo">
          <p>[Texte de présentation] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="c-article__section c-article__text c-text">
    {% include nav-list-grid.html %}
    <ul class="o-layout o-layout--bottom">
      <li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste AAAA</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste ABBB</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste ACCC</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste BBBB</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste BCCCC</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste BDDDDDDDDDDDD</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="{{ site.github.url }}/artistes/coignet.html" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste BEEEEEEEEEEEEEE</h2>
          </div>
        </a>
      </li
      ><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste CCCCCCCC</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste CDDDDD</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="{{ site.github.url }}/galerie/plaisirs-lefoll.html" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/galerie/plaisirs/Lefoll-31.jpg" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Alain Lefoll</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="{{ site.github.url }}/galerie/plaisirs-masson.html" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/galerie/plaisirs/Masson.jpg" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">André Masson</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste MMMMM</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste MNNNNNN</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste NNNNNNNNN</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste PPPPPPP</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste PQQQQQQQQQ</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste RRRRRR</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste SSSSSSSSSSS</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste TTTTTTTTTTTTTT</h2>
          </div>
        </a>
      </li><li class="o-layout__item u-5/10@mobileLs u-3/9@desktop">
        <a href="#" class="c-card c-abstract">
          <figure class="c-card__media c-figure">
            <img src="{{ site.github.url }}/images/placeholder-500x474.png" alt="" class="c-figure__img">
          </figure>
          <div class="c-card__body">
            <h2 class="c-card__title c-abstract__title">Artiste VVVVVVVVV</h2>
          </div>
        </a>
      </li>
    </ul>
  </section>

</article>
