---
layout: default
site-title: "Galerie Lahumiere"
title: "Les plaisirs d'Anne Lahumiere"
page-class: page--galerie page--galerie-plaisirs
category: galerie
---

{% include nav-secondary-galerie.html %}

<article class="c-article">
  <header class="c-article__section c-article__header">
    <h1 class="c-article__title c-article__title--upper">{{page.title}}</h1>
  </header>

  <section class="c-article__section c-article__text c-text">
    <div class="o-layout">
      <div class="o-layout__item u-9/10@mobileLs xu-push-1/10@mobileLs u-7/10@desktop">
        <div class="c-text__chapo">
          <p>[Texte de présentation] Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="c-article__section c-article__text c-text">
    {% include nav-list-grid.html %}
    <div class="c-text__main">
      <ul class="c-artists c-artists--list">
       <li><a href="">Artiste AAAA</a></li>
       <li><a href="">Artiste ABBB</a></li>
       <li><a href="">Artiste ACCC</a></li>
       <li><a href="">Artiste BBBB</a></li>
       <li><a href="">Artiste BCCCC</a></li>
       <li><a href="">Artiste BDDDDDDDDDDDD</a></li>
       <li><a href="">Artiste BEEEEEEEEEEEEEE</a></li>
       <li><a href="">Artiste CCCCCCCC</a></li>
       <li><a href="">Artiste CDDDDD</a></li>
       <li><a href="">Alain Lefoll</a></li>
       <li><a href="">André Masson</a></li>
       <li><a href="">Artiste MMMMM</a></li>
       <li><a href="">Artiste MMMMMMM</a></li>
       <li><a href="">Artiste NNNNNNNNN</a></li>
       <li><a href="">Artiste PPPPPPP</a></li>
       <li><a href="">Artiste PQQQQQQQQQ</a></li>
       <li><a href="">Artiste RRRRRR</a></li>
       <li><a href="">Artiste SSSSSSSSSSS</a></li>
       <li><a href="">Artiste TTTTTTTTTTTTTT</a></li>
       <li><a href="">Artiste VVVVVVVVV</a></li>
     </ul>
    </div>
  </section>

</article>
