// =====================================
// article
// =====================================

.c-article {}


//
// header
// -------------------------------------

.c-article__header {
  margin-bottom: $spacing-unit-large;

  @include mq($until: mobileLs) {
    text-align: center;
  }

  @include mq(desktop) {
    margin-bottom: $spacing-unit-huge;
  }
}


//
// title
// -------------------------------------

.c-article__title {
  margin-bottom: 0;
  @include inuit-font-size(33px, 1.1);
}


//
// subtitle
// -------------------------------------

.c-article__subtitle {
  margin-top: $spacing-unit-small;
  margin-bottom: 0;
  font-style: italic;
  @include inuit-font-size(26px);
}


//
// main
// -------------------------------------

.c-article__main {
  @include mq($until: mobileLs) {
    padding-left: $spacing-unit-small;
    padding-right: $spacing-unit-small;
  }
}


//
// section
// -------------------------------------

.c-article__section {
  margin-bottom: $spacing-unit-large;

  @include mq(desktop) {
    margin-bottom: $spacing-unit-huge;
  }
}


//
// chapo
// -------------------------------------

.c-article__chapo {}


//
// text
// -------------------------------------

.c-article__text {}


//
// footnotes
// -------------------------------------

.c-article__footnotes {

  &:before {
    display: block;
    margin-bottom: $spacing-unit-small;
    height: 1px;
    width: 30%;
    content: "";
    background-color: $color-black;
  }
}
