// =====================================
// meta
// =====================================

.c-meta {
  text-transform: uppercase;
  font-style: italic;

  @include mq($until: mobileLs) {
    &:before {
      display: block;
      margin: 0 auto $spacing-unit;
      content: "";
      width: 50px;
      height: 2px;
      background-color: $color-black;
    }

    > .c-meta__item {
      &:first-child:after {
        content: "\A";
        white-space: pre;
      }
    }
  }
}

// ----- variante std ----- //

.c-meta--std {
  > .c-meta__item {
    &:first-child:after {
      content: "\A";
      white-space: pre;
    }
  }

  > .c-meta__item--icon {
    @include inuit-hidden-visually;
  }
}

// ----- variante article ----- //

.c-meta--article {
  margin-top: $spacing-unit-large;
}

//
// item
// -------------------------------------

.c-meta__item {
  margin-right: $spacing-unit-tiny;
  vertical-align: middle;
}

// ----- variante: icon ----- //

.c-meta__item--icon {
    @include mq($until: mobileLs) {
      @include inuit-hidden-visually;
    }

    @include mq(mobileLs) {
      fill: $color-theme;
    }
  }

// ----- variante statut ----- //

.c-meta__item--statut {
  font-family: $font-futuraHeavy;
}
