// =====================================
// nav-site
// =====================================

// ----- Variables logo sizes ----- //
$logo-width-small: 40px;
$logo-width-large: 80px;
// -------------------------------- //


.c-nav-site {
  padding-top: $spacing-unit-large;

  @include mq($until: tablet) {
    padding-top: $spacing-unit-small + ($spacing-unit-small / 2);
    text-align: center;
  }
}


//
// home
// -------------------------------------

.c-nav-site__home {
  display: block;
}

  // ----- variante: home--logo ----- //

  .c-nav-site__home--logo {
    line-height: 0;

    @include mq($until: tablet) {
      margin-bottom: $spacing-unit;
    }

    @include mq(tablet, desktop) {
      position: absolute;
      bottom: 0;
      width: 8%;
    }
  }

  // ----- variante: home--title ----- //

  .c-nav-site__home--title {
    margin-bottom: $spacing-unit-small;
    @include inuit-font-size(26px, false);
    letter-spacing: $global-letter-spacing;
    line-height: 1;

    @include mq(tablet) {
      @include inuit-font-size(24px, false);
    }

    @include mq(desktop) {
      font-family: $font-futuraLight;
      @include inuit-font-size(48px, false);
    }
  }


//
// logo
// -------------------------------------

.c-nav-site__logo {
  height: auto;
  fill: $color-theme;

  @include mq($until: tablet) {
    width: $logo-width-small;
  }

  @include mq(desktop) {
    width: $logo-width-large;
  }
}


//
// list
// -------------------------------------

.c-nav-site__list {
  @include mq($until: tablet) {
    &:after {
      display: block;
      height: 1px;
      width: 100%;
      margin: $spacing-unit-small auto;
      background-color: $color-black;
      content: "";
    }
  }

  @include mq(tablet) {
    border-bottom: 1px solid $color-black;
  }
}


//
// item
// -------------------------------------

.c-nav-site__item {
  @include inuit-font-size(18px);
  letter-spacing: $global-letter-spacing;
}


//
// link
// -------------------------------------

.c-nav-site__link {
  display: block;
  margin: $spacing-unit-tiny $spacing-unit-tiny / 2;
  padding: 0 $spacing-unit-tiny / 2;

  .c-nav-site__item:first-child & {
    @include mq(tablet) {
      margin-left: 0;
    }
  }

  &.is-current {
    color: $color-theme;
  }
}
