// =====================================
// section
// =====================================

.c-section {}


//
// header
// -------------------------------------

.c-section__header {
  margin-bottom: $spacing-unit;

  @include mq(tablet) {
    margin-bottom: $spacing-unit-large;
  }
}


//
// title
// -------------------------------------

.c-section__title {
  // color: $color-theme;
  @include inuit-font-size(18px, false);
  text-transform: uppercase;

  &:after {
    display: block;
    height: 1px;
    background-color: currentColor;
    content: "";

    @include mq(tablet) {
      width: 50%;
    }
  }
}
