// ==========================================================================
// CONTACT
// ==========================================================================

.c-contact {}

.c-contact__link {
  display: block;
  margin-right: $spacing-unit-small;

  .o-icon {
    fill: $color-gray-light;
  }

  &:hover {
    .o-icon {
      fill: $color-black;
    }
  }
}
