// ==========================================================================
// CARD
// ==========================================================================

.c-card {
  &:hover {
    .c-card__title {
      border-color: $color-theme;
    }
  }
}


//
// MEDIA
// ==========================================================================

.c-card__media {}


//
// BODY
// ==========================================================================

.c-card__body {}


//
// TITLE
// ==========================================================================

.c-card__title {
  border-bottom: 1px solid $color-black;
  padding-bottom: $spacing-unit;
  transition: color $global-transition, border-color $global-transition;

  @include mq($until: mobileLs) {
    text-align: center;
  }
}
