// ==========================================================================
// BREADCRUMB
// ==========================================================================


.c-breadcrumb {
  margin-bottom: $spacing-unit-huge;
  @include inuit-font-size(15px);
  letter-spacing: $global-letter-spacing;
}


//
// ITEM
// ==========================================================================

.c-breadcrumb__item {
  &.is-current {
    color: $color-gray-light;
  }
}


//
// LINK
// ==========================================================================

.c-breadcrumb__link {
  &:hover {
    .c-breadcrumb__back {
      transform: translateX(-10px);
    }
  }
}


//
// BACK
// ==========================================================================

.c-breadcrumb__back {
  transition: transform $global-transition;
}


//
// TEXT
// ==========================================================================

.c-breadcrumb__text {}

.c-breadcrumb__text--sep {
  color: $color-gray-light;
}
