// ==========================================================================
// FOOTER
// ==========================================================================

.c-footer {
  border-top: 1px solid $color-black;
  border-bottom: 3px solid $color-black;
  padding-top: $spacing-unit;
}


//
// LINK
// ==========================================================================

.c-footer__link {
  color: $color-base;
  transition: color $global-transition $global-transition-function;

  &:hover {
    color: $color-link;
  }
}


//
// TITLE
// ==========================================================================

.c-footer__title {
  margin-bottom: $spacing-unit-small;
}


//
// DESC
// ==========================================================================

.c-footer__desc {
  @include inuit-font-size(15px, 1.4);
}
