// ==========================================================================
// ARTISTS
// ==========================================================================

.c-artists {}


.c-artists--list {
  margin: 0;
  list-style: none;
  columns: 2 12.5em;
  text-transform: uppercase;

  @include mq(desktop) {
    width: 75%;
  }

  > li {
    margin-bottom: $spacing-unit-small;
  }
}
