// ==========================================================================
// ARTICLE
// ==========================================================================

.c-article {}


//
// HEADER
// ==========================================================================

.c-article__header {
  margin-bottom: $spacing-unit-large;
  color: $color-black;

  @include mq($until: mobileLs) {
    text-align: center;
  }
}


//
// TITLE
// ==========================================================================

.c-article__title {
  text-transform: uppercase;
}


//
// CONTENT-TEXT
// ==========================================================================

.c-article__content-text {}


.c-article__chapo {
  @include inuit-font-size(20px);
  color: $color-black;
}

.c-article__text {
  @include inuit-font-size(18px);

  // TODO: règles provisoires
  h3 {
    margin: $spacing-unit-large 0 $spacing-unit-small;
    @include inuit-font-size(20px);
  }

  ul {
    list-style-type: square;
  }
}


//
// SUBTITLE
// ==========================================================================

.c-article__subtitle {
  margin-top: $spacing-unit;
  @include inuit-font-size(22px);

  &:after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    content: "";
  }

  @include mq(tablet) {
    &:after {
      width: 50%;
    }
  }
}
