// ==========================================================================
// COVER
// ==========================================================================

.c-cover {
  margin-bottom: $spacing-unit-large;
  display: block;

  &:hover {
    .c-cover__img {
      transform: scale(1.04);
    }

    .c-cover__more {
      opacity: 1;

      &:before {
        animation: openEffect 0.6s ease-out 75ms;
      }
    }
  }
}


  //
  // MEDIA
  // ==========================================================================

  .c-cover__media {
    margin-bottom: $spacing-unit * -1;
  }


  //
  // IMG
  // ==========================================================================

  .c-cover__img {
    transition: transform 0.3s;
  }


  //
  // BODY
  // ==========================================================================

  .c-cover__body {
    position: relative;
    padding: ($spacing-unit + $spacing-unit/2) $spacing-unit-small $spacing-unit-small;

    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color: $color-theme;
      mix-blend-mode: multiply;
    }
  }


  //
  // HEADER
  // ==========================================================================

  .c-cover__header {
    margin-bottom: $spacing-unit;
  }

    // TITLE
    .c-cover__title {
      @include inuit-font-size(22px);
    }

    // SUBTITLE
    .c-cover__subtitle {
      margin-top: $spacing-unit-tiny;
      font-family: $font-futuraLight;
      @include inuit-font-size(18px);
    }


  //
  // DESC
  // ==========================================================================

  .c-cover__desc {
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  //
  // META
  // ==========================================================================

  .c-cover__meta {
    margin-top: $spacing-unit;
    text-align: right;
    p {
      font-family: $font-futuraHeavy;
      @include inuit-font-size(13px, 1.4);

      &:first-child {
        font-style: italic;
      }
    }
  }


  //
  // MORE
  // ==========================================================================

  .c-cover__more {
    @extend %moreContainer;
    color: $color-theme;
    opacity: 0;
    transition: opacity 0.15s;

    &:before {
      @extend %moreBefore;
    }
  }


  //
  // Variantes
  // ==========================================================================

  @include mq(desktop) {
    // --large
    .c-cover--large {

      & .c-cover__body {
        display: inline-block;
        width: (3 / 9) * 100%;
        padding: $spacing-unit-small;
        vertical-align: middle;

        &:before {
          width: ((6/9)*100) / (5/9) * 1%;
        }
      }

      & .c-cover__media {
        display: inline-block;
        margin-bottom: 0;
        width: (6 / 9 ) * 100%;
        vertical-align: middle;
      }
    }

    // --even
    .c-cover--even {

      & .c-cover__body {

        &:before {
          left: auto;
          right: 0;
        }
      }
    }

    // --odd
    .c-cover--odd {
      direction: rtl;

      & .c-cover__body {
        direction: ltr;
      }
    }
  }
