// ==========================================================================
// NAV-UTILS
// ==========================================================================

.c-nav-utils {
  position: absolute;
  top: 0;
  width: 100%;
}


//
// LIST
// ==========================================================================

.c-nav-utils__list {
  margin: 0;
  list-style: none;
  text-align: right;
}


//
// ITEM
// ==========================================================================

.c-nav-utils__item {
  display: inline-block;

  @include mq($until: tablet) {
    width: 50%;
    &:first-child {
      text-align: left;
    }
  }

  @include mq(tablet) {
    &:first-child {
      margin-right: $spacing-unit;
    }
  }
}
