// ==========================================================================
// ABSTRACT
// ==========================================================================

.c-abstract {
  display: block;

  &:hover {
    color: $color-black;

    .c-abstract__title {
      color: $color-theme;
    }

    .c-abstract__more:after {
      padding-left: $spacing-unit;
      color: $color-theme;
    }
  }
}


//
// MORE
// ==========================================================================

.c-abstract__more {
  padding-right: $spacing-unit-small;

  &:after {
    content: "\27F6";
    transition-property: color, padding;
    transition-timing-function: $global-transition-function;
    transition-duration: $global-transition;

    @include mq(mobile, desktop) {
      color: $color-theme;
    }
  }

  @include mq($until: mobileLs) {
    padding: 0 $spacing-unit-small;
  }

}
