// ==========================================================================
// COVER
// ==========================================================================

.c-cover {
  margin-bottom: $spacing-unit-large;
  position: relative;
}

  //
  // Variantes
  //

  //
  // LARGE
  //
  .c-cover--large {
    @include mq(tablet) {
      & .c-cover__body {
        display: inline-block;
        width: (4 / 9) * 100%;
        vertical-align: middle;
      }

      & .c-cover__media {
        display: inline-block;
        width: (5 / 9 ) * 100%;
        vertical-align: middle;
      }

      //
      // EVEN
      //

      &.c-cover--even {
        & .c-cover__body {
          &:before {
            left: auto;
            right: 0;
          }
        }
      }

      //
      // ODD
      //

      &.c-cover--odd {
        direction: rtl;
        & .c-cover__body {
          direction: ltr;
        }
      }
    }
  }

//
// LINK
// ==========================================================================

.c-cover__link {
  display: block;
}

//
// BODY
// ==========================================================================

.c-cover__body {
  position: relative;
  padding: $spacing-unit $spacing-unit-small $spacing-unit-small;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color-theme;
    mix-blend-mode: multiply;
  }

  @include mq(tablet) {
    padding: $spacing-unit-small;

    &:before {
      width: ((5/9)*100) / (4/9) * 1%;
    }
  }
}

//
// MEDIA
// ==========================================================================

.c-cover__media {
  margin-bottom: $spacing-unit * -1;
  @include mq(tablet) {
    margin-bottom: 0;
  }
}

//
// IMG
// ==========================================================================

.c-cover__img {}


//
// EXHIBITION-META
// ==========================================================================

.c-cover__exibition-meta {}

//
// BLEND MODE FALLBACK
// ==========================================================================

//
// .no-backgroundblendmode via modernizr.js
//

.no-backgroundblendmode {
  .c-cover__body {
    padding-top: $spacing-unit-small;
    background-color: $color-theme;
    &:before {
      display: none;
    }
  }

  .c-cover__media {
    margin-bottom: 0;
  }
}
