// ==========================================================================
// NAV
// ==========================================================================

// Styles communs à tous les éléments de navigation


.c-nav {
  text-transform: uppercase;
}


//
// LIST
// ==========================================================================

.c-nav__list {
  margin: 0;
  list-style: none;
}


//
// LIST-ITEM
// ==========================================================================

.c-nav__list-item {
  display: inline-block;
}


//
// TEXT
// ==========================================================================

.c-nav__text {
  display: inline-block;
  vertical-align: middle;
}
