// ==========================================================================
// FOOTER
// ==========================================================================

.c-footer {
  border: 1px solid $color-black;
  border-width: 1px 0;
  padding-top: $spacing-unit-large;
}


//
// ITEM
// ==========================================================================

.c-footer__item {
  margin-bottom: $spacing-unit-large;

  @include mq($until: mobileLs) {
    text-align: center;
  }
}


//
// HEADER
// ==========================================================================

.c-footer__header {}

//
// TITLE
// ==========================================================================

.c-footer__title {
  margin-bottom: $spacing-unit-small;
  @include inuit-font-size(18px, 1.2);
  text-transform: uppercase;
}


//
// DESC
// ==========================================================================

.c-footer__desc {
  padding-right: $spacing-unit-small;
  @include inuit-font-size(16px, 1.35);

  @include mq(mobile, mobileLs) {
    padding-left: $spacing-unit-small / 2;
    padding-right: $spacing-unit-small /2;
  }
}

  .c-footer__desc--about {
    @include mq(mobileLs, desktop) {
      width: 70%;
      padding-right: 0;
    }
  }
