// ==========================================================================
// META
// ==========================================================================

.c-meta {
  text-transform: uppercase;
  font-style: italic;
  color: $color-black;
}


//
// STATUS
// ==========================================================================

.c-meta__status {
  font-family: $font-futuraHeavy;
  text-transform: uppercase;
}


//
// DATE
// ==========================================================================

.c-meta__date {}
