// ==========================================================================
// NAV-SORT
// ==========================================================================

.c-nav-sort {
  border-bottom: 1px solid $color-black;
  margin-bottom: $spacing-unit-large;
  text-transform: none;

  @include mq(tablet) {
    width: 50%;
  }
}


//
// TITLE
// ==========================================================================

.c-nav-sort__title {
  display: inline-block;
  margin-bottom: 0;
  @include inuit-font-size(18px);
}


//
// LINK
// ==========================================================================

.c-nav-sort__link {
  display: inline-block;
  padding-bottom: $spacing-unit-tiny;
  padding: 0 $spacing-unit-tiny $spacing-unit-tiny;
  @include inuit-font-size(18px);

  &.is-current {
    border-bottom: 2px solid $color-black;
    color: $color-theme;
  }
}
