// ==========================================================================
// META
// ==========================================================================

.c-meta {
  text-transform: uppercase;
  font-style: italic;
}

//
// STATUS
// ==========================================================================

.c-meta__status {
  font-family: $font-futuraHeavy;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}


//
// DATE
// ==========================================================================

.c-meta__date {}
