// ==========================================================================
// PORTFOLIO
// ==========================================================================

.c-portfolio {}

//
// SIZER
// ==========================================================================

// Element requis par Mansonry.js lorsque la mise en page est variable.

.c-portfolio__sizer {
  @extend .o-layout__item;
  display: block;
}


//
// ITEM
// ==========================================================================

.c-portfolio__item {
  margin-bottom: 0;
  padding-bottom: $spacing-unit-large;
}
