// ==========================================================================
// TEXT
// ==========================================================================

.c-text {}


//
// CHAPO
// ==========================================================================

.c-text__chapo {
  @include inuit-font-size(20px, false);
  line-height: 1.4;

  @include mq(mobileLs) {
    @include inuit-font-size(22px, false);
  }
}

.c-text__main {
  @include inuit-font-size(17px, false);
  line-height: 1.4;

  @include mq(mobileLs) {
    @include inuit-font-size(18px, false);
  }
}


.c-text__subtitle {
  margin: $spacing-unit-large 0 $spacing-unit-small;
  font-family: $font-futuraHeavy;
  @include inuit-font-size(18px, 1.3);
}
