// ==========================================================================
// SITE-NAV
// ==========================================================================

.c-site-nav {}

//
// HOME
// ==========================================================================

.c-site-nav__home {
  margin-bottom: $spacing-unit-small;
  display: block;
  text-align: center;

  @include mq(tablet) {
    text-align: left;
  }
}

  //
  // Variante
  //
  .c-site-nav__home--logo {
    @include mq(tablet) {
      line-height: 0;
      text-align: right;
    }
  }

  //
  // LOGO
  //
  .c-site-nav__logo {
    max-width: 100px;
  }

  .c-site-nav__logo-img {
    @include mq(tablet) {
      text-align: right;
    }
  }

  //
  // TITLE
  //
  .c-site-nav__title {
    font-family: $font-heavy;
    text-transform: uppercase;
    @include inuit-font-size(28px);

    @include mq(tablet) {
      @include inuit-font-size(40px);
    }
  }

//
// LIST
// ==========================================================================

.c-site-nav__list {
  border-bottom: 3px solid $color-black;
  margin: 0;
  padding: 0;
  list-style: none;

  @include mq($until: tablet) {
    border-top: 3px solid $color-black;
    text-align: center;
  }
}

//
// ITEM
// ==========================================================================

.c-site-nav__item {
  display: inline-block;

  text-transform: uppercase;
  @include inuit-font-size(18px);
}

//
// LINK
// ==========================================================================

.c-site-nav__link {
  display: block;
  padding: $spacing-unit-tiny;

  @include mq(tablet) {
    padding: $spacing-unit-tiny;
  }
}

  //
  // Variante
  //
  .c-site-nav__link--galerie {
    padding-left: 0;
  }
