// ==========================================================================
// COVER
// ==========================================================================

.c-cover {
  margin-bottom: $spacing-unit-large;
  position: relative;
}

  //
  // Variante : MAIN
  //

  .c-cover--main {
    @include mq(desktop) {

      //
      // EVEN
      //
      &.c-cover--even {}

      //
      // ODD
      //
      &.c-cover--odd {
        direction: rtl;
      }
    }
  }

//
// LINK
// ==========================================================================

.c-cover__link {
  display: block;
  &:hover {
    // .c-cover__body {
    //   &:before {
    //     background-color: lighten($color-theme, 15%);
    //   }
    // }

    // .c-cover__img {
    //   // transform: scale(1.1);
    //   transform: scale(0.8);
    // }
  }
}

//
// BODY
// ==========================================================================

.c-cover__body {
  position: relative;
  padding: ($spacing-unit + $spacing-unit/2) $spacing-unit-small $spacing-unit-small;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: $color-theme;
    mix-blend-mode: multiply;
  }

  @include mq(desktop) {
    // Variante MAIN
    .c-cover--main & {
      display: inline-block;
      width: (3 / 9) * 100%;
      padding: $spacing-unit-small;
      vertical-align: middle;

      &:before {
        width: ((6/9)*100) / (5/9) * 1%;
      }
    }

    // EVEN
    .c-cover--main.c-cover--even & {
      &:before {
        left: auto;
        right: 0;
      }
    }

    // ODD
    .c-cover--main.c-cover--odd & {
      direction: ltr;
    }
  }
}

//
// HEADER
// ==========================================================================

.c-cover__header {
  margin-bottom: $spacing-unit;
}

  // TITLE
  .c-cover__title {
    margin-bottom: 0;
    font-family: $font-futuraHeavy;
    @include inuit-font-size(22px);
  }

  // SUBTITLE
  .c-cover__subtitle {
    margin-top: $spacing-unit-tiny;
    margin-bottom: 0;
    // font-family: $font-light;
    line-height: 1.2;
  }


//
// DESC
// ==========================================================================

.c-cover__desc {}


//
// META
// ==========================================================================

.c-cover__meta {
  text-align: right;
  text-transform: uppercase;
  p {
    margin-bottom: 0;
    @include inuit-font-size(13px, 1.4);

    &:first-child {
      font-style: italic;
    }
  }
}


//
// MEDIA
// ==========================================================================

.c-cover__media {
  margin-bottom: $spacing-unit * -1;
  overflow: hidden;
  background-color: $color-theme;

  .c-cover--main & {
    @include mq(desktop) {
      display: inline-block;
      width: (6 / 9 ) * 100%;
      margin-bottom: 0;
      vertical-align: middle;
    }
  }
}


//
// IMG
// ==========================================================================

.c-cover__img {
  transition-delay: .25s;
  transition-property: transform;
  transition-timing-function: ease;
}


//
// BLEND MODE FALLBACK
// ==========================================================================

//
// .no-backgroundblendmode via modernizr.js
//

.no-backgroundblendmode {
  .c-cover__body {
    padding-top: $spacing-unit-small;
    background-color: $color-theme;
    &:before {
      display: none;
    }
  }

  .c-cover__media {
    margin-bottom: 0;
  }
}
