// ==========================================================================
// SITE-NAV
// ==========================================================================

.c-site-nav {}

//
// HOME
// ==========================================================================

.c-site-nav__home {
  margin-bottom: $spacing-unit-small;
  display: block;
  text-align: center;

  @include mq(tablet) {
    text-align: left;
  }
}

  //
  // Variante
  //
  .c-site-nav__home--logo {
    @include mq(tablet) {
      line-height: 0;
      text-align: right;
    }
  }

  //
  // LOGO
  //
  .c-site-nav__logo {
    max-width: 100px;
    max-height: 98px;
  }

  .c-site-nav__logo-img {
    @include mq(tablet) {
      text-align: right;
    }
  }

  //
  // TITLE
  //
  .c-site-nav__title {
    font-family: $font-futuraHeavy;
    @include inuit-font-size(28px);

    @include mq(tablet) {
      @include inuit-font-size(40px);
    }
  }

//
// LIST
// ==========================================================================

.c-site-nav__list {
  border-bottom: 3px solid $color-black;
  margin-bottom: 0;

  @include mq($until: tablet) {
    border-top: 3px solid $color-black;
    text-align: center;
  }
}

//
// ITEM
// ==========================================================================

.c-site-nav__item {
  font-family: $font-futura;
  @include inuit-font-size(18px);
  @include mq($until: desktop) {
    @include inuit-font-size(16px);
  }
}

//
// LINK
// ==========================================================================

.c-site-nav__link {
  display: block;
  margin: $spacing-unit-tiny $spacing-unit-tiny / 2;
  padding: 0 $spacing-unit-tiny / 2;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: inset 0 -4px 0 $color-theme;
  }
}


//
// PAGES
// ==========================================================================

// @each $page in galerie, artistes, expositions, publications {
//   .page--#{$page} .c-site-nav__#{$page} {
//   }
// }

.c-site-nav__galerie {
  @include mq(tablet) {
    margin-left: 0;
  }
}
