// ==========================================================================
// BREADCRUMB
// ==========================================================================

.c-breadcrumb {
  margin-bottom: $spacing-unit-small;
  padding-top: $spacing-unit-small;
}


//
// ITEM
// ==========================================================================

.c-breadcrumb__item {
  position: relative;
  margin-left: $spacing-unit-small;
  padding: $spacing-unit-tiny / 2;
  color: $color-gray-light;
  transition: color 0.3s;

  &:before {
    position: absolute;
    left: $spacing-unit-small * -1;
    content: "/";
    // color: $color-gray-light;
  }

  &.is-current,
  &:hover {
    color: $color-black;
    // background-color: $color-theme;
  }
}
