// ==========================================================================
// CARD
// ==========================================================================

.c-card {
  display: block;
  margin-bottom: $spacing-unit-huge;

  &:hover {
    .c-card__title {
      color: $color-theme;
      border-color: $color-theme;
    }
  }
}


//
// MEDIA
// ==========================================================================

.c-card__media {}


//
// BODY
// ==========================================================================

.c-card__body {}


//
// TITLE
// ==========================================================================

.c-card__title {
  border-bottom: 1px solid $color-black;
  padding-bottom: $spacing-unit;
  @include inuit-font-size(16px);
  text-transform: uppercase;

  @include mq($until: mobileLs) {
    text-align: center;
  }
}
