// ==========================================================================
// CONTACT
// ==========================================================================

.c-contact {
  margin: 0;
  list-style: none;
}


//
// ITEM
// ==========================================================================

.c-contact__item {
  display: inline-block;
}

.c-contact__open {
  display: block;
  margin-right: $spacing-unit-small;
}
