// ==========================================================================
// SEARCH
// ==========================================================================



//
// OPEN
// ==========================================================================

.c-search__open {
  display: block;
  padding: $spacing-unit-small;
  color: $color-gray-light;

  &:hover {
    color: $color-theme;
  }
}


//
// ICON
// ==========================================================================

.c-search__icon {
  width: 24px;
  height: 24px;

}
