// ==========================================================================
// NAV-SECONDARY
// ==========================================================================

.c-nav-secondary {}


//
// LIST
// ==========================================================================

.c-nav-secondary__list { margin: 0; }


//
// ITEM
// ==========================================================================

.c-nav-secondary__item {}


//
// LINK
// ==========================================================================

.c-nav-secondary__link {
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: inset 0 -4px 0 $color-theme;
  }
}
