// ==========================================================================
// Webfonts
// ==========================================================================

// Futura

@font-face {
    font-family: 'Futura';
    src: url('webfonts/FuturaStd-Book.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-Book.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-Book.svg#FuturaStd-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Futura';
    src: url('webfonts/FuturaStd-BookOblique.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-BookOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-BookOblique.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-BookOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-BookOblique.svg#FuturaStd-BookOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Futura';
    src: url('webfonts/FuturaStd-BoldOblique.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-BoldOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-BoldOblique.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-BoldOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-BoldOblique.svg#FuturaStd-BoldOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Futura';
    src: url('webfonts/FuturaStd-Bold.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-Bold.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-Bold.svg#FuturaStd-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

//
// Futura Light
// ==========================================================================

@font-face {
    font-family: 'FuturaLight';
    src: url('webfonts/FuturaStd-Light.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-Light.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-Light.svg#FuturaStd-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FuturaLight';
    src: url('webfonts/FuturaStd-LightOblique.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-LightOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-LightOblique.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-LightOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-LightOblique.svg#FuturaStd-LightOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

//
// Futura Medium
// ==========================================================================

@font-face {
    font-family: 'FuturaMedium';
    src: url('webfonts/FuturaStd-Medium.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-Medium.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FuturaMedium';
    src: url('webfonts/FuturaStd-MediumOblique.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-MediumOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-MediumOblique.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-MediumOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-MediumOblique.svg#FuturaStd-MediumOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

//
// Futura Heavy
// ==========================================================================

@font-face {
    font-family: 'FuturaHeavy';
    src: url('webfonts/FuturaStd-Heavy.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-Heavy.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-Heavy.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'FuturaHeavy';
    src: url('webfonts/FuturaStd-HeavyOblique.eot'); /* IE9 Compat Modes */
    src: url('webfonts/FuturaStd-HeavyOblique.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfonts/FuturaStd-HeavyOblique.woff') format('woff'), /* Modern Browsers */
         url('webfonts/FuturaStd-HeavyOblique.ttf') format('truetype'), /* Safari, Android, iOS */
         url('webfonts/FuturaStd-HeavyOblique.svg#FuturaStd-HeavyOblique') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
