// ==========================================================================
// ICON
// ==========================================================================

.o-icon {
  width: 48px;
  height: 48px;
}

.o-icon-search {
  width: 24px;
  height: 24px;
  path {
    fill: $color-gray;
  }

  &:hover {
    path {
      fill: $color-black;
    }
  }
}
