// ==========================================================================
// MEDIA
// ==========================================================================

.o-media {
  display: table;
  width: 100%;
}


//
// IMG
// ==========================================================================

.o-media__img {
  padding-right: $spacing-unit;

  img {
    display: block;
    max-width: none;
  }
}


//
// BODY
// ==========================================================================

.o-media__body {
  width: 100%;
}


.o-media__img,
.o-media__body {
  display: table-cell;
  vertical-align: top;
}
