// ==========================================================================
// Settings
// ==========================================================================

$inuit-global-font-size:    16px;
// line-height
$inuit-global-line-height:  20px;


// font-family
$font-base:  'Futura';
$font-futura: 'Futura', sans-serif;
$font-futuraHeavy: 'FuturaHeavy', sans-serif;
$font-futuraLight: 'FuturaLight', sans-serif;


// Colors
$color-black: #1a1a1a;// #000;
$color-white: #fff;

$color-gray-lighter: #efefef;
$color-gray-light: #bababa;
$color-gray: #7d7d7d;
$color-gray-dark: #666666;
$color-gray-darker: #5b5b5b;

$color-yellow: #f8e71c;
$color-orange: #cf7633;

$color-base: $color-gray;
$color-theme: $color-orange;
$color-link: $color-black;
$color-link-hover: $color-theme;

//
$global-radius: 3px;
$global-transition: (1/3) + s;
$global-transition-function: ease-out;


// Wrapper
$inuit-wrapper-width: 1100px;


// Layout
// $inuit-use-markup-fix: true;
$inuit-fractions:      9 10;
// $inuit-offsets:        false;


// Ratio
$inuit-ratios: (
  // (2:1),
  (3:2),
  // (4:3),
  // (16:9),
);


// Mediaqueries
$mq-breakpoints: (
  mobile:   320px,
  mobileLs: 439px,
  tablet:   640px,
  desktop:  960px
);
