// ==========================================================================
// Settings
// ==========================================================================

// font-family
$font-base:  'Futura';
$font-futura: 'Futura', sans-serif;
$font-futuraHeavy: 'FuturaHeavy', sans-serif;
$font-futuraLight: 'FuturaLight', sans-serif;
// $font-futuraMedium: 'font-futuraMedium', sans-serif;


// Colors
$color-black: #000;
$color-white: #fff;

$color-gray-light: #bababa;
$color-gray: #7d7d7d;
$color-gray-dark: #585353;

$color-yellow: #f8e71c;

$color-base: $color-gray;
$color-link: $color-black;
$color-link-hover: $color-yellow;
$color-theme: $color-yellow;

//
$global-radius: 3px;
$global-transition: (1/3) + s;
$global-transition-function: ease-in;


// Wrapper
$inuit-wrapper-width: 1100px;


// Layout
$inuit-use-markup-fix: true;
$inuit-fractions:      2 9 11;
$inuit-offsets:        false;


// Ratio
$inuit-ratios: (
  // (2:1),
  (3:2),
  // (4:3),
  // (16:9),
) !default;


// Mediaqueries
$mq-breakpoints: (
  mobile:             320px,
  tablet:             640px,
  desktop:            960px
);
