// ==========================================================================
// WIDTHS
// ==========================================================================

//
// Plutôt que d'activer $inuit-offsets qui produit beaucoup de code qui n'est
// pas utilisé, on ajoute juste la classe nécessaire.
//

[class*="u-push-"] {
  position: relative !important;
  right: auto !important;
}

.u-push-1\/11 {
  left: (1 / 11) * 100% !important;
}

.u-push-2\/11 {
  left: (2 / 11) * 100% !important;
}

@include mq(tablet) {
  .u-push-1\/11\@tablet {
    left: (1 / 11) * 100% !important;
  }

  .u-push-2\/11\@tablet {
    left: (2 / 11) * 100% !important;
  }
}
