// ==========================================================================
// SPACING
// ==========================================================================

// Margin top
.u-mt { margin-top: $spacing-unit; }

// Margin right
//.u-mr { margin-right: $spacing-unit; }

// .u-mr-xs { margin-right: $spacing-unit-tiny; }

// Margin bottom
.u-mb-none { margin-bottom: 0; }

.u-mb-s { margin-bottom: $spacing-unit-small; }

.u-mb { margin-bottom: $spacing-unit; }

.u-mb-l { margin-bottom: $spacing-unit-large; }

.u-mb-xl { margin-bottom: $spacing-unit-huge; }

// Margin left
// .u-ml { margin-left: $spacing-unit; }

// .u-ml-xs { margin-left: $spacing-unit-tiny; }
