// *************************************
//
// Globals
//
// *************************************


// -------------------------------------
// Inuit CSS globals
// -------------------------------------

// ----- Font-size ----- //

$inuit-global-font-size: 16px;

// ----- Line-height ----- //

$inuit-global-line-height: 20px;

// ----- Wrapper ----- //

$inuit-wrapper-width: 1100px;

// ----- Layout ----- //

$inuit-fractions: 9 10;

// ----- Mediaqueries ----- //

$mq-breakpoints: (
  mobile:   320px,
  mobileLs: 439px,
  tablet:   640px,
  desktop:  960px
);


// -------------------------------------
// Application globals
// -------------------------------------

// ----- Font-family ----- //

$font-base:        'Ft';
$font-futura:      $font-base, sans-serif;
$font-futuraHeavy: 'FuturaHeavy', sans-serif;
$font-futuraLight: 'FuturaLight', sans-serif;
$font-monospace:   "Space Mono", monospace;

// ----- Letter-spacing ----- //

$global-letter-spacing: 0.5 / 16 * 1em;

// ----- Transitions ----- //

$global-transition: 0.3s;
$global-transition-function: ease-out;
